.container {
  padding: 0 50px 0 50px;
  height: 100vh;
}

.heading {
  text-align: center;
  margin-top: 7rem;
}

.cardsContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.fogg {
  position: absolute;
}
