.container {
  padding: 0 50px 0 50px;
  height: 100vh;
  position: relative;
}

.heading {
  text-align: center;
  margin-top: 7rem;
}

.cardsContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.fogg {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: -1;
}
.tutorfogg {
  position: absolute;
  top: 0rem;
  right: -1rem;
  z-index: -1;
}
